/gradle/wrapper/gradle-wrapper.properties
###----------Android----------
##----------build----------
*.apk
*.ap_
*.dex
*.class
bin/
gen/
build/

##----------gradle----------
#.gradle/
#gradle-app.setting
#!gradle-wrapper.jar
#build/

local.properties

###----------idea----------
#*.iml
#.idea/
#*.ipr
#*.iws

# Android Studio Navigation editor temp files
#.navigation/

###----------Other----------
# osx
#*~
#.DS_Store
#gradle.properties

###----------MDK5----------
*.bak
*.ddk
*.edk
*.lst
*.lnp
*.mpf
*.mpj
*.obj
*.omf
#*.opt  ::不允许删除JLINK的设置
*.plg
*.rpt
*.tmp
*.__i
*.crf
*.o
*.d
*.axf
*.tra
*.dep           
#JLinkLog.txt

*.iex
*.sct
*.map